/* input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 9999px;
}

input[type="color"]::-moz-color-swatch {
  border: none;
  border-radius: 9999px;
} */

/* 
input[type="color"]::-webkit-color-swatch {
  border: 1px solid gray;
  border-radius: 4px;
} */
